<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet"  type="text/css" href="/skeleton.css">
    <link rel="stylesheet"  type="text/css" href="/app.css">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Have you found everything that you need?</h1>
        <nav>
            <a id="index" href="/gear">Back to store</a>
            <a id="logIn" href="/sessions/new">Log In</a>
            <a id="signIn" href="/users/new">Sign Up</a>
        </nav>

        <ul class="flexContainerCart">
            <%let total = 0; %>

            <% for(let i = 0; i < product.length; i++){ %>
                <div class="cartCard">
                    
                        <img class='productpicCart' src=<%=product[i].img; %> />
                  
                    <li> <%=product[i].name; %> </li>
                    
                    <li> Cost: <%=product[i].price; %> Gold Coins </li>
                    <%total += product[i].price %>

                    <li> In Stock: <%=product[i].qty; %> </li>
                    <% if(product[i].qty > 0){ %>
                        <form action="/gear/<%=product[i].id%>/buy?_method=PUT" method="POST">
                            <input id="buy" type="submit" value="buy" />
                        </form>
                   <% } else { %>
                    <p>Out of Stock</p>
                    <% } %>

                    <div class="showFlexRow">
                    <a id ="edit" href="/gear/<%=product[i]._id%>/edit">Edit Item</a>
                    <form action="/cart/<%=product[i]._id%>?_method=DELETE" method="POST">
                        <input id="delete"type="submit" value="DELETE" />
                    </form>
                    </div>
                    
                </div>
                
            <% } %>
        <h4>Your Total: <%= total %> </h4>
        </ul>
        
    </body>
</html>