<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet"  type="text/css" href="/skeleton.css">
    <link rel="stylesheet"  type="text/css" href="/app.css">
        <meta charset="utf-8">
        <title>Edit</title>
    </head>
    <body>
        <h1>Edit Equipment</h1>
        <form action="/gear/<%=product.id%>?_method=PUT"" method="POST">
            Name: <input type="text" name="name" value="<%=product.name %>" /><br/>
            Description: <input id="textWrap"type="textarea" name="description" value="<%=product.description %>" /><br/>
            Image: <input type="text" name="img" value="<%=product.img %>"/><br/>
            Price: <input type="number" name="price" value="<%=product.price %>" /><br/>
            Qty: <input type="number" name="qty" value="<%=product.qty %>"/><br/>
            
            

           
            <input type="submit" name="" value="Save Changes" id="save"/>
        </form>
        <nav>
            <a href="/gear/<%=product.id%>">Back</a>
        </nav>
    </body>
</html>