<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet"  type="text/css" href="/skeleton.css">
    <link rel="stylesheet"  type="text/css" href="/app.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class="showFlex">
        <div class="displayCard">
        <h1><%=product.name %></h1>
        <img class='productpicIndex' src=<%=product.img; %> />
    <h4>  <%=product.description %> </h4>
    <% if(product.qty > 0){ %>
        <h4><%=product.qty %>: In Stock</h4>
        <h3>Yours now for: $ <%=product.price %></h3>
        <form action="/products/<%=product.id%>/buy?_method=PUT" method="POST">
            <input id="buy" type="submit" value="buy" />
        </form>
   <% } else { %>
    <h3>Out of Stock</h3>
    <% } %>
    
   
        </div>
        <nav class="showFlexRow">
           

            <a href="/gear">Back to Log Index</a>
            <a href="/gear/<%=product._id%>/edit">Edit Item</a>
            <form  action="/products/<%=product._id%>?_method=DELETE" method="POST">
                <input id="delete"type="submit" value="DELETE" />
            </form>
        </nav>
    </body>
</html>